<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
    default-autowire="byName">
    
	<bean name="applicationContextUtil" class="com.zj198.util.ApplicationContextUtil"/>
	
    <bean name="accountService" class="com.zj198.service.user.impl.AccountServiceImpl"/>
    <bean name="prdFinanceAreaService" class=" com.zj198.service.loan.impl.PrdFinanceAreaServiceImpl"/>
	<bean name="dictoryDataService" class="com.zj198.service.common.impl.DictoryDataServiceImpl"/>
	<bean id="ordLogService" class="com.zj198.service.loan.impl.OrdLogServiceImpl"></bean>
	
	<bean name="profileService" class="com.zj198.service.user.impl.ProfileServiceImpl"/>
	<bean name="userCenterMenuService" class="com.zj198.service.user.impl.UserCenterMenuServiceImpl"/>
	<bean name="financeProdService" class="com.zj198.service.finservice.impl.FinanceProdServiceImpl"/>
	<!-- admin -->
	<bean name="adminAccountService" class="com.zj198.service.admin.impl.AdminAccountServiceImpl"/>
	<!-- 通知队列 -->
    <bean name="notifyQueueService" class="com.zj198.service.common.impl.NotifyQueueServiceImpl"/>
    <!-- 新闻 -->
    <bean name="newsService" class="com.zj198.service.news.impl.NewsServiceImpl"/>
    <!-- 服务信息 -->
    <bean name="serviceInfoService" class="com.zj198.service.sin.impl.ServiceInfoServiceImpl"/>
    <!-- 会员付费 -->
	<bean name="memberService" class="com.zj198.service.user.impl.MemberServiceImpl"/>
    <!-- 融资 -->
	<bean name="loanRequestService" class="com.zj198.service.loan.impl.LoanRequestServiceImpl"/>
	<bean id="financeApplyService" class="com.zj198.service.loan.impl.FinanceApplyServiceImpl"/>
	<bean id="financeProductService" class="com.zj198.service.loan.impl.FinanceProductServiceImpl"/>
	<bean id="applyUserService" class="com.zj198.service.loan.impl.ApplyUserServiceImpl"/>
	<!-- 产品推荐 -->
	<bean id="ordLrRecommendService" class="com.zj198.service.loan.impl.OrdLrRecommendServiceImpl"/>
	<!-- 贷后管理 -->
	<bean id="ordFinanceAppLoanService" class="com.zj198.service.loan.impl.OrdFinanceAppLoanServiceImpl"/>
	<!-- 供求信息 -->
	<bean id="supplyRequestService" class="com.zj198.service.club.impl.SupplyRequestServiceImpl"></bean>
	<!-- 黄页 -->
	<bean id="dicYellowpageService" class="com.zj198.service.news.impl.DicYellowpageServiceImpl"></bean>
	<!-- 消息管理 -->
	<bean id="ntyMessageService" class="com.zj198.service.message.impl.NtyMessageServiceImpl"></bean>
	<!-- 基金   fund -->
	<bean id="fundService" class="com.zj198.service.fund.impl.FundServiceImpl"></bean>
	<!-- 广告 -->
	<bean id="advertiseService" class="com.zj198.service.ads.impl.AdvertiseServiceImpl"></bean>
	<!-- 财务分析 -->
	<bean id="reportService" class="com.zj198.service.cfs.impl.ReportServiceImpl"></bean>
	<bean id="cfsMetricSerivce" class="com.zj198.service.cfs.impl.CfsMetricServiceImpl"></bean>
	
</beans>