{% extends "fetcher/base.html" %}
{% load admin_static %}
{% block extrastyle %}
	<link rel="stylesheet" href="{% static "ztree/css/demo.css" %}" type="text/css">
	<link rel="stylesheet" href="{% static "ztree/css/zTreeStyle/zTreeStyle.css" %}" type="text/css">
	<script type="text/javascript" src="{% static "ztree/js/jquery.ztree.core-3.4.js" %}"></script>
	<script type="text/javascript" src="{% static "fetcher/js/jquery.json-2.3.js" %}"></script>
	<script type="text/javascript">
		var setting = {
			check:{
				enable:true,
				chkStyle:"checkbox",
				chkboxType:{"Y":"p","N":"s"}
			}
		};

		function build_html_tree() {
			var url = "/get_tree_data";
			$.ajax({
				url: url,
				dataType: "json",
				type: "GET",
				data: {url: "{{url}}"},
				success: function(data){
					console.log(data)
					$.fn.zTree.init($("#treeDemo"), setting,data);
				}
			});
		}

		$(document).ready(function(){
			build_html_tree()
		});
	</script>
{% endblock %}
{% block title %}Web Fetcher{% endblock %}
{% block header%} Tree {% endblock%}
{% block content%} 
	<div id="tree">
		<ul id="treeDemo" class="ztree"></ul>
	</div>
{% endblock%}
